/* page typography */
h1 {
    padding-top: 1em;
}
h3 {
    color: white;
    background-color: #f98e05;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-weight: 100;
    width: 100%;
}
.big {
    color: #f98e05;
    font-size: 2rem;
    font-weight: 900;
    text-align: right;
}
h4 {
    background-color: #494949;
    padding: 0.3em;
    border-radius: 0.3em;
}
.core {
    text-align: justify;
    padding: 0.8em;
}
.lastcolumn {
    border-left: white 2px solid;
}
.lastrow {
    border-top: white 2px solid;
}
p, ul, li, div, span {
    font-size: 1.8rem;
}
hr {
    padding: 10px;
    border-top: #f98e05 5px solid;
}


/* graphs */
.c3-chart-text {
    fill: white;
}
.c3-legend-item {
    fill: white;
}
.c3-axis {
    fill: white;
}
.c3-grid {
    fill: white;
}

.c3-chart-arc text {
    fill: white;
    font-weight: bold;
}
.c3-target-Production-Company > text {
    fill: black;
}

.lighter-bg {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.c3-chart-arcs-title {
    fill: white;
    font-weight: bold;
}
