.c3-chart-text {
    fill: white;
}
.c3-legend-item {
    fill: white;
}
.c3-axis {
    fill: white;
}
.c3-grid {
    fill: white;
}

.c3-chart-arc text {
    fill: white !important;
    font-weight: bold;
}
.c3-target-Production-Company > text {
    fill: black;
}

.lighter-bg {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.c3-chart-arcs-title {
    fill: white;
    font-weight: bold;
}
