.hlight {
  fill: red;
  font-size: 1.2em;
}

.other {
  fill: green;
}

h1 span {
  width: 15.8rem;
}

.bg-potrex{
  background-color: #1b1b1b;
}

.bg-pornhuborange{
  background-color: #f98e05;
}

.forcefully-enlarged {
  font-size: 1.5em;
}
